Django==2.0
django-ckeditor==5.4.0
django-jet==1.0.7
django-js-asset==1.0.0
django-pageviews==1.0.0
django-taggit==0.22.2
google-api-python-client==1.6.5
Jinja2==2.9.6
matplotlib==2.0.2
mongoengine==0.14.3
numpy==1.14.3
opencv-contrib-python==3.4.0.12
pandas==0.20.3
pandas-datareader==0.6.0
Pillow==4.2.1
pygame==1.9.3
pymongo==3.5.1
seaborn==0.8.1
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.22
virtualenv==15.1.0
virtualenvwrapper-win==1.2.5
youtube-dl==2017.12.31
gunicorn
bleach
whitenoise
Markdown