Django==2.1.7
django-ckeditor==5.6.1
django-jet==1.0.8
django-taggit==0.24.0
google-api-python-client==1.6.5
Jinja2==2.9.6
Pillow==5.0.0
pymongo==3.5.1
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.23
virtualenv==15.1.0
virtualenvwrapper-win==1.2.5
youtube-dl==2019.2.18
python-decouple
dj-database-url
gunicorn
bleach
whitenoise==3.3.0
Markdown
psycopg2-binary
cloudinary