<article class="hentry">
    <div class="entry-content">
        <div class="vc_row">
            <div class="container">
                <div class="row">
                    <div class=" vc_column_container col-sm-12">
                        <div class="vc_column-inner">
                            <div class="bright-course-list_lg">
                                {% for course in courses %}
                                <div class="bright-course-item hentry">
                                    <div class="courses-wrap row">
                                        <div class="bright-course-thumb col-md-4">
                                            <div class="thumb">
                                                <img width="370" height="240" src="../media/{{course.anh_cover}}" alt="Computer Science" style="object-fit:cover;">
                                            </div>
                                        </div>
                                        <div class="bright-course-details col-md-8">
                                            <div class="course-detail-wrap">
                                                <div class="course-content">
                                                    <h3><a href="/course/{{course.id}}/">{{course.ten_khoa_hoc}}</a></h3>
                                                    <div class="bright-course-meta"> 
                                                        
                                                        <i class="fas fa-users"></i>
                                                        <span class="course-students" title="No student enrolled">
                                                        {{course.students.count}} học sinh
                                                        </span>
                                                        
                                                    </div>
                                                    <p>{{ course.mieu_ta|truncatechars:300 }}</p>
                                                    {% if course in user.course.all %}
                                                    <a class="btn btn-common btn-sm rounded-0 px-4" href="/course/{{course.id}}/enroll/">Xem chi tiết</a>
                                                    {% else %}
                                                        <a class="btn btn-common btn-sm rounded-0 px-4" href="/course/{{course.id}}/">Xem chi tiết</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
