<div class="bright-single-course-header clearfix course-summary bg-white" style="margin-bottom:20px;">
    <h1 itemprop="name" class="entry-title">{{course.ten_khoa_hoc}}</h1>
    
    <div class="course-payment">
        <div class="course-price">
            <span class="price">Miễn phí</span>
        </div>
        <div class="lp-course-buttons">
            <form class="enroll-course" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class='lp-button button button-enroll-course text-light'>Ghi Danh</button>
            </form>
        </div>
    </div>
</div>