<div id='learn-press-course-tabs' class="course-tabs">
    <ul class="nav nav-pills learn-press-nav-tabs" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link nav-link-override active" id="pills-overviews-tab" data-toggle="pill" href="#pills-overviews" role="tab" aria-controls="pills-overviews"
                aria-selected="true">Tổng quan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-override" id="pills-curriculum-tab" data-toggle="pill" href="#pills-curriculum" role="tab" aria-controls="pills-curriculum"
                aria-selected="false">Đề cương khóa học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-override" id="pills-instructor-tab" data-toggle="pill" href="#pills-instructor" role="tab" aria-controls="pills-instructor"
                aria-selected="false">Giảng viên</a>
        </li>
        
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane course-tab-panel fade show active" id="pills-overviews" role="tabpanel">
            <div class="row">
                <div class="bright-course-content col-md-8">
                    <div class="course-description">
                        <p>{{ course.mieu_ta }}</p>
                    </div>
                </div>
                <div class="bright-course-info col-md-4">
                    <h3>Số liệu khóa học</h3>
                    <ul>
                        <li>
                            <i class="fas fa-users mr-2 text-danger"></i>
                            <span class="course-info-label">Học viên</span>
                            <span class="course-info-value">
                                <span class="course-students">111 học viên</span>
                            </span>
                        </li>
                        <li>
                            <i class="far fa-clock mr-2 text-danger"></i>
                            <span class="course-info-label">Thời lượng</span>
                            <span class="course-info-value">12 giờ</span>
                        </li>
                        <li>
                            <i class="fas fa-level-up-alt mr-2 text-danger"></i>
                            <span class="course-info-label">Cấp độ</span>
                            <span class="course-info-value">Tất cả</span>
                        </li>
                        <li>
                            <i class="fas fa-language mr-2 text-danger"></i>
                            <span class="course-info-label">Ngôn ngữ</span>
                            <span class="course-info-value">Tiếng việt</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane course-tab-panel fade" id="pills-curriculum" role="tabpanel" >
            <div>
                <hr style="border:1px solid red; margin:0px">
                <ul class="curriculum-sections">
                    <li class="p-4 curriculum-border">
                        <i class="fab fa-youtube text-danger"></i>
                        <span class="course-info-label">01. Intro to Web development & PHP, Basic syntax</span>
                        <div class="course-item-meta">
                            <span class="item-meta duration">30 min<i class="ml-2 fas fa-lock"></i></span>
                            
                        </div>
                    </li>
                    <li class="p-4 curriculum-border">
                        <i class="fab fa-youtube text-danger"></i>
                        <span class="course-info-label">02. Variables, Data types and Operators</span>
                        <div class="course-item-meta">
                            <span class="item-meta duration">30 min
                                <i class="ml-2 fas fa-lock"></i>
                            </span>
                    
                        </div>
                    </li>
                    <li class="p-4 curriculum-border">
                        <i class="fab fa-youtube text-danger"></i>
                        <span class="course-info-label">03. Conditions & Control structures</span>
                        <div class="course-item-meta">
                            <span class="item-meta duration">30 min
                                <i class="ml-2 fas fa-lock"></i>
                            </span>
                    
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane course-tab-panel fade" id="pills-instructor" role="tabpanel">
                <div class="course-author">
                    <h3>Giảng viên</h3>
                    <p class="author-name">
                        <img src="http://bright.wpbranch.com/wp-content/uploads/2017/07/1920-copy-150x150.jpg" width="96" height="96" alt="Jen Maroney">
                        <a href="">{{course.tac_gia}}</a>
                    </p>
                    <div class="author-bio">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s. 
                    </div>
                </div>
        </div>
    </div>
</div>