<section class="widget">
    <h3 class="widget-title">Khóa học gần đây</h3>
    {% for course in suggest_course %}
    <div class="bright-course-list">
        <div class="bright-course-item has-post-thumbnail hentry">
            <div class="courses-wrap row">
                <div class="bright-course-thumb col-md-4">
                    <div class="thumb">
                        <img width="100%" height="65px!important" src="/media/{{course.anh_cover}}" alt="{{course.ten_khoa_hoc}}" style="object-fit:cover;">
                    </div>
                </div>
                <div class="bright-course-details col-md-8">
                    <div class="course-detail-wrap">
                        <div class="course-content">
                            <h3>
                                {% if course in user.course.all %}
                                <a href="/course/{{course.id}}/enroll">{{course.ten_khoa_hoc|truncatewords:3}}</a>
                                {% else %}
                                    <a href="/course/{{course.id}}">{{course.ten_khoa_hoc|truncatewords:3}}</a>
                                {% endif %}
                            </h3>
                            <div class="bright-course-meta">
                                
                                <span class="course-students" title="No student enrolled">
                                    {{course.students.count}} học sinh
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>