<section id="bright_course_category_widget-4" class="widget widget_bright_course_category_widget">
    <h3 class="widget-title">Thư viện danh mục</h3>
    <div class="ep_course_category_list bright-cat-list-desktop">
        <ul>
            {% for cate in categories %}
            <li class="cat-item">
                <a href="/course/categories/{{cate.id}}" title="{{cate.ten_danh_muc}}">
                <i class="fab fa-android mr-3"></i>{{cate.ten_danh_muc}}</a>
            </li>
            {%endfor%}
            
        </ul>
    </div>
</section>