<section id="bright_course_teachers_widget-3" class="widget widget_bright_course_teachers_widget">
    <h3 class="widget-title">Giảng viên nổi bật</h3>
    {% for teacher in teachers %}
        <div class="teacher bright-instructor-content-type-list" >
            <div class="">
                <div class="teacher-item row">
                    <div class="thumb-teacher col-md-3">
                        <img src="/media/{{teacher.avatar}}" width="75" height="75"
                            alt="Julia Benjama" class="avatar">
                    </div>
                    <div class="teacher-desc col-md-9">
                        <a href="">
                            <h3>{{teacher}}</h3>
                        </a>
                        <span class="">{{teacher.professional}}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>