.bright-course-navigations {
    background: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    padding: 15px;
    margin-bottom: 30px;
    font-size: 12px;
}
.well {
    min-height: 20px;
}
.bright-course-navigations .searchandfilter {
    border: 0;
    display: inline-block;
}
.searchandfilter ul {
    margin: 0;
    display: inline-block;
    list-style: disc;
    padding-left: 0;
    padding:0;
}
.searchandfilter li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

.bright-course-navigations select {
    width: inherit;
    display: inline-block;
    height: 40px;
    line-height: inherit;
    margin: 0;
    border-radius: 0;
}

.bright-course-navigations .searchandfilter input[type="submit"] {
    border-width: 2px;
    font-size: inherit;
    line-height: 18px;
    margin-top: -6px;
    background: #28a745;
    height: 40px;
}
input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    padding: 10px 16px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    position: relative;
}