/* Body css */

body {
    color: #444444;
    line-height: 25px;
    font-size: 15px;
}

/* Endbody */
/*Image Logo List Course Css */
.bright-page-title-area, .bright-page-title-area a {
    color: #fff;
    text-decoration: none;
}

.bright-page-title-area {
    background-image: url(../image/list_course/page-title-bg.jpg);
    padding-top: 69px;
    padding-bottom: 69px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;
    position: relative;
}
.bright-page-title-area:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.bright-page-title-area>div {
    z-index: 2;
    position: relative;
}
.bright-page-title-area .entry-title {
    margin: 0 0 20px 0;
    line-height: normal;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.bright-breadcrumb-wrapper .learn-press-breadcrumb {
    margin: 0;
}

.bright-breadcrumb-wrapper .learn-press-breadcrumb i {
    margin: 0 10px;
}

/* End Image Logo List Course */
/* Course display Css */
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.bright-course-list_lg .bright-course-item{
    margin-bottom: 30px;
}
.hentry {
    margin: 0 0 30px;
}

.courses-wrap {
    border-radius: 0;
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    line-height: 1.42857143;
    transition: all 0.2s ease-in-out;
    background: #fff;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.thumb{
    position: relative;
    overflow: hidden;
}
.bright-course-thumb img {
    width: 100%;
}


.bright-course-list_lg .courses-wrap .course-detail-wrap .course-content {
    padding: 0;
}
.bright-course-list_lg .courses-wrap .course-detail-wrap .course-content h3 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 15px;
}
.bright-course-list_lg .courses-wrap .course-detail-wrap .course-content h3 {
    margin-top: 0;
}
.courses-wrap .course-detail-wrap .course-content h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6,.courses-wrap .course-detail-wrap .course-content h3 a{
    color: #212121;
}
.bright-course-list_lg .bright-course-meta {
    margin-bottom: 12px;
}
.bright-course-list_lg .bright-course-meta>span {
    margin-right: 8px;
    display: inline-block;
}
.bright-course-list_lg .course-instructor a {
    color: inherit;
}

.courses-wrap .course-detail-wrap .course-content p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}
p {
    margin: 0 0 10px;
}
.btn.btn-sm, .site-content .vc_btn3.vc_btn3-size-sm {
    padding: 8px 16px;
    line-height: 1.5;
}
.btn-common {
    color: #FFF;
    position: relative;
    border: 1px solid transparent;
    z-index: 1;
    font-weight: 600;
}

.btn-common, .btn-primary:hover, .btn-common.active,  .btn:focus {
    background: #28a745;
}
.btn-common:hover {
    color: #FFF;
    background-color:#007549;
}
/* End Course display  */

@media only screen and (max-width: 600px) {
    .entry-title {
        font-size: 25px!important;
    }

}