/* NAVBAR CSS */
.sign-up {
  background-color: #0caa41;
  color: white!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  margin-left: 25px;
  border-radius: 4px;
}
.sign-up:hover {
  background-color: #007549;
}

/* FOOTER CSS */
.search-text{
	margin-top:50px;
	background-color: #272d33;
	padding-top:60px;
	padding-bottom:60px;
}

.search-text .input-search{
	height:45px;
	width:80%;
	padding-left:20px;
  color:#333;
}

.search-text .btn-search{
  background: #0caa41;
  border:none;
	color:#FFF;
	height: 45px;
  width: 80px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

footer{
     background-color: #33383c;
     padding:30px 0px;
}

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF;
   font-weight: bold;
   border-bottom: 1px solid #c7c7c7;
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #0caa41;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}



/* HEADING QUOTE CSS */

.head-quote {
  background-image: url("/static/image/homepage-intro-image-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-shadow {
  background: rgba(0, 0, 0, 0.3);
  height: 80vh;
}

.quote {
  position: absolute;
  top: 40%;
  color: #fff;
  font-weight: 300;
  font-style: normal;
  text-shadow: 0 2px 4px rgba(41,48,59,.55);
}

.quote-input {
  border-radius: 0px!important;
}

.quote-input:focus {
  border-color: #fff;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(0, 0, 0, 0.6);
}

/* Style for course list */
.top_courses {
  margin-top: 5%;
}

.col-sm-2-change {
  box-shadow: 0 2px 15px -1px rgba(0,0,0,.1);
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;
}

.card-change {
  overflow: hidden;
}

.card-body-override {
  padding: 0.8rem!important;
  font-size: 13px;
}

.title_course {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 600;
  height: 36px;
  min-height: 42px;
  font-size: 15px;
  color: #29303b;
  margin-bottom: 10px;
}

.form-control:focus {
  border:1px solid #28a745!important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
  0px 0px 8px rgba(40, 167, 69, 0.5);
  outline: 0 none;
}