<section class="stats" style="background: linear-gradient(-45deg,#04ce48,#018e72);">
<div class="container">
    <div class="row text-light" style="padding-top:10px">
    <div class="col-sm-4" >
        <div class="col-sm-3 float-left" style="height:100%">
        <span><i class="fas fa-mouse-pointer fa-3x"></i></span>
        </div>
        <div>
        <b>65,000 khóa học online</b>
        <p>Khám phá nhiều chủ đề mới</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-3 float-left" style="height:100%">
        <span><i class="far fa-question-circle fa-3x"></i></span>
        </div>
        <div>
        <b>Các chuyên gia hàng đầu</b>
        <p>Tìm người thầy phù hợp cho bạn</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-3 float-left" style="height:100%">
        <span><i class="far fa-clock fa-3x"></i></span>
        </div>
        <div>
        <b>Truy cập bất cứ lúc nào</b>
        <p>Học tập dựa trên lịch trình của bạn</p>
        </div>
    </div>
    </div>
</div>
</section>