<div class="top_courses container-fluid">
  <h2 class="text-center">Top khóa học về "{{page_title}}"</h2>
  <div class="row mt-3">
    <div class="col-sm-1">
    </div>
    {% for course in category.khoa_hoc.all|slice:'5' %}
    <div class="col-sm-2 col-sm-2-change">
      <div class="card card-change">
        <img class="card-img-top" src="/media/{{ course.anh_cover }}" alt="{{course.ten_khoa_hoc}}" height="122px" style="object-fit:cover;">
        <div class="card-body card-body-override">
          <p class="title_course">{{course.ten_khoa_hoc}}</p>
          <p class="text-secondary">
            <i class="fas fa-users"></i> {{course.students.count}} học sinh
          </p>
          {% if course in user.course.all %}
            <a href="/course/{{course.id}}/enroll" class="btn btn-success btn-sm float-right rounded-0">Ghi danh</a>
          {% else %}
            <a href="/course/{{course.id}}" class="btn btn-success btn-sm float-right rounded-0">Ghi danh</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-sm-1">
    </div>
  </div>
</div>
