<div class="container-fluid">
    <div class="row mt-3">
        {% for course in courses %}
        <div class="col-sm-4 mb-2">
            <div class="card card-change card-shadow">
                <img class="card-img-top" src="{{course.cover_link}}" alt="{{course.ten_khoa_hoc}}" height="122px" style="object-fit:cover;">
                <div class="card-body card-body-override">
                    <p class="title_course" style="margin:0; height:auto; min-height:auto;">
                        {{ course.ten_khoa_hoc|truncatewords:6 }}
                    </p>
                    <p class="text-secondary">
                        <i class="fas fa-users"></i> {{course.students.count}} học sinh
                    </p>
                    {% if course in user.course.all %}
                    <a href="/course/{{course.id}}/enroll" class="btn btn-success btn-sm float-right">Chi tiết</a>
                    {% else %}
                        <a href="/course/{{course.id}}/" class="btn btn-success btn-sm float-right">Chi tiết</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>