<div class="well well-sm clear bright-course-navigations">
    <form method="POST" class="searchandfilter">
        {% csrf_token %}
        <div>
            <ul>
                <li>
                    <select name="categories" id="ofcourse_category" class="postform">
                        <option value="0">Tất cả danh mục</option>
                        {% for cate in categories %}
                            <option value="{{cate.id}}" class="level-0" {% if cate == category %} selected {% endif %}>
                                {{cate.ten_danh_muc}}
                            </option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <select name="sort" id="ofcourse_category" class="postform">
                        <option value="0" selected>Sắp xếp theo</option>
                        <option value='1' class="level-0">Mới Nhất</option>
                        <option value='2' class="level-0">Học Nhiều</option>
                    </select>
                </li>
                <li class="btn-sort">
                    <input type="submit" value="Tìm kiếm">
                </li>
            </ul>
        </div>
    </form>
</div>