<section class="widget">
    <h3 class="widget-title">Khóa học mới</h3>
    {% for course in new_courses %}
    <div class="bright-course-list">
        <div class="bright-course-item has-post-thumbnail hentry">
            <div class="courses-wrap row">
                <div class="bright-course-thumb col-sm-4">
                    <div class="thumb">
                        <img width="100%" height="60px" src="{{course.cover_link}}" alt="{{course.ten_khoa_hoc}}" style="object-fit:cover;"> 
                    </div>
                </div>
                <div class="bright-course-details col-sm-8" style="padding:0;">
                    <div class="course-detail-wrap">
                        <div class="course-content">
                            <h3>
                                {% if course in user.course.all %}
                                <a href="/course/{{course.id}}/enroll" alt="{course.ten_khoa_hoc}}">{{course.ten_khoa_hoc|truncatewords:2}}</a>
                                {% else %}
                                <a href="/course/{{course.id}}" alt="{course.ten_khoa_hoc}}">{{course.ten_khoa_hoc|truncatewords:2}}</a>
                                {% endif %}
                            </h3>
                            <div class="bright-course-meta">
                                
                                <span class="course-students">
                                    {{course.students.count}} học sinh
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>