<section id="bright_course_teachers_widget-3" class="widget widget_bright_course_teachers_widget">
    <h3 class="widget-title">Giảng viên nổi bật</h3>
    {% for teacher in teachers %}
        <div class="teacher bright-instructor-content-type-list">
            <div class="">
                <div class="teacher-item row">
                    <div class="thumb-teacher col-sm-4">
                        <img src="/media/{{teacher.avatar}}" width="100%" height="60" alt="Julia Benjama"
                            class="avatar photo">
                    </div>
                    <div class="teacher-desc col-sm-8">
                        <a href="">
                            <h3>{{teacher}}</h3>
                        </a>
                        <span class="">{{teacher.professional}}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>