<div class="container">
    {% for course in courses %}
        <div class="shadow row border p-2 mb-3 bg-white">
            <div class="col-md-3">
                <img class="w-100" src="{{course.cover_link}}" alt="" height="152.500px" style="object-fit:cover;">
            </div>
            <div class="col-md-9">
                <h3>{{ course.ten_khoa_hoc }}</h3>
                <small><i class="fas fa-users"></i> {{course.students.count}} học sinh</small>
                <p>{{course.mieu_ta|truncatechars:100}}</p>
                {% if course in user.course.all %}
                <a href="/course/{{course.id}}/enroll/"><i class="fas fa-angle-double-right mr-1"></i>Xem chi tiết</a>
                {% else %}
                    <a href="/course/{{course.id}}/">
                        <i class="fas fa-angle-double-right mr-1"></i>Xem chi tiết
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>