<div class="container">
    <div class="row">
        {% if courses|length == 0 %}
            <div class="jumbotron w-100">
                <h1 class="display-4">Opps!</h1>
                <p class="lead">Có vẻ bạn chưa tham gia khoá học nào. Hãy tham gia các khoá học của chúng tôi ngay từ hôm nay nhé.</p>
                <hr class="my-4">
                <p>Khi bạn đăng ký một khoá học, nó sẽ xuất hiện ở đây.</p>
                <a class="btn btn-success btn-lg" href="/course/" role="button">Học ngay</a>
            </div>
        {% endif %}
        
        {% for course in courses %}
        <div class="col-md-3">
            <div class="card card-change">
                <img class="card-img-top" src="{{course.cover_link}}" alt="{{course.ten_khoa_hoc}}" height="122px" style="object-fit:cover;">
                <div class="card-body card-body-override">
                    <p class="title_course">{{course.ten_khoa_hoc}}</p>
                    <p class="text-secondary">{{course.tac_gia}}</p>
                    <a href="/course/{{course.id}}/enroll" class="btn btn-success btn-sm float-right rounded-0">Học tiếp</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>