<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "partial/meta-data.html" %}
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body style="background-color: #f7f8fa">

    <!-- header -->
    {% include "partial/header.html" with page_title='Home' %}

    <!-- heading quote -->
    {% include "homepage/heading_quote.html" %}

    <!-- Stats -->
    {% include 'homepage/stats.html' %}

    <!-- Top courses -->
    {% for category in categories %}
      {% include "homepage/top_courses.html" with page_title=category.ten_danh_muc %}      
    {% endfor %}
    

    <!-- See all button -->
    <div class="text-center mt-5 mb-5">
      <a href="/course/" class="btn btn-success btn-lg">Xem tất cả các khóa học</a>
    </div>

    <!-- footer -->
    {% include "partial/footer.html" with page_title='Foot' %}

  </body>
</html>
