<h3 class="text-center">Cài đặt tài khoản</h3>
<p class="text-center">Chỉnh sửa cài đặt tài khoản của bạn và thay đổi mật khẩu của bạn tại đây.</p>
<form style="margin: 0 100px;" method="POST">
    <hr>
    {% csrf_token %}
    {% for field in form %}
        <p style="text-align:left;">{{field.label_tag}}</p>
        {{field}}
        <small style="color: grey">{{ field.help_text|safe }}</small>

        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %} 
    {% endfor %} 
    <p class="label label-danger">
        <ul class=" text-primary">
            <li>Mật khẩu của bạn không được quá giống với thông tin cá nhân khác của bạn.</li>
            <li>Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li>
            <li>Mật khẩu của bạn không thể là mật khẩu thường được sử dụng.</li>
            <li>Mật khẩu của bạn không thể hoàn toàn là số.</li>
        </ul>
    </p>

    <hr>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Đổi mật khẩu</button>
    </div>
</form>
