<h3 class="text-center">Cài đặt tài khoản</h3>
<p class="text-center">Chỉnh sửa cài đặt tài khoản của bạn và thay đổi mật khẩu của bạn tại đây.</p>
<form style="margin: 0 100px;">
    <hr>
    
    <div class="form-group">
        <label>Mật khẩu:</label>
        <input type="text" class="form-control" placeholder="Nhập mật khẩu hiện tại">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nhập mật khẩu mới">        
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Gõ lại mật khẩu mới">
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </div>
</form>