<h3 class="text-center">Profile</h3>
<p class="text-center">Add information about yourself to share on your profile.</p>
<hr>
<form style="margin: 0 100px;">
    <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Head Line">
        <small id="emailHelp" class="form-text text-muted">Add a professional headline like, 'Engineer at Udemy' or 'Architect.'</small>
    </div>
    <div class="form-group">
        <label>Biography:</label>
        <textarea type="text" class="form-control" rows="4"></textarea>
    </div>
    <hr>
    <div class="form-group">
        <label for="exampleFormControlFile1">Change Avatar:</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-5">Save</button>
    </div>
</form>