<h3 class="text-center">Thông tin cá nhân</h3>
<p class="text-center">Thêm thông tin về bản thân bạn và chia sẻ trên hồ sơ của bạn.</p>
<hr>
<form style="margin: 0 100px;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" value="{{user.first_name}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Head Line">
        <small id="emailHelp" class="form-text text-muted">Thêm chuyên ngành của bạn ví dụ như: 'Kỹ sư' hoặc 'Kiến trúc sư.'</small>
    </div>
    <div class="form-group">
        <label>Tiểu sử:</label>
        <textarea type="text" class="form-control" rows="4"></textarea>
    </div>
    <hr>
    <div class="form-group">
        <label for="exampleFormControlFile1">Đổi avatar:</label>
        <input type="file" class="form-control-file">
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-5">Lưu</button>
    </div>
</form>