{% extends 'base.html' %}

{% block content %}
    <h1>Danh sách các khóa học:</h1>
    {% for course in courses %}
        <hr>
        <h3>Tên khóa học: {{ course.ten_khoa_hoc }}</h3>
        <p>Ảnh cover:{{ course.anh_cover }}
        </p>
        <p>Tác giả: {{ course.tac_gia }}</p>
        <p>Ngày tạo : {{ course.ngay_tao }}</p>
        <p>Miêu tả: {{ course.mieu_ta }}</p>
        <p>Tags:</p>
        <ul class="tags">
            {% for tag in course.tags.all %}
            <li><small href="#" class="tag"> {{tag}}</small></li>
            {% endfor %}
        </ul>
        <p>Danh sách video</p>
        <ul class="tags">
            {% for video in course.video.all %}
            <li><small href="#" class="tag"> {{ video.link_video }}</small></li>
            {% endfor %}
        </ul>
        <p>Category</p>
        <ul class="tags">
            {% for Category in course.categories.all %}
            <li><small href="#" class="tag"> {{ Category }}</small></li>
            {% endfor %}
        </ul>
        <hr>
    {% endfor %}
{% endblock %}
