<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
  {% include "partial/meta-data.html" %}
  <link rel="stylesheet" href="/static/css/list_course.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/course-detail/content-title.css">
  <link rel="stylesheet" href="/static/css/course-detail/thumbnail.css">
  <link rel="stylesheet" href="/static/css/course-detail/main-content.css">
  <link rel="stylesheet" href="/static/css/course-detail/stats-course-list.css">
  <link rel="stylesheet" href="/static/css/course-detail/stats-course-teacher.css">
  <link rel="stylesheet" href="/static/css/course-detail/stats-course-categories.css">
  
  <title>List course</title>
</head>

<body class='bright-page-layout-full-width' style="background: #f3f3f3"> 
  <!-- Header -->
  {% include "partial/header.html" %}
  <!-- Image Logo List Course -->
  <div class="bright-page-title-area" style="background: url('{{course.cover_link}}') no-repeat; background-size: cover;">
    <div class="bright-page-title">
      <div class="container">
        <h1 class="entry-title">Tiếp tục khóa học</h1>
      </div>
    </div>
    <div class="bright-breadcrumb-wrapper">
      <div class="container">
        <nav class="learn-press-breadcrumb">
          <a href="#">Home</a>
          <i class="fas fa-caret-right mx-2 text-light"></i>Khóa học
          <i class="fas fa-caret-right mx-2"></i> {{ course.categories.all.0.ten_danh_muc }}
          <i class="fas fa-caret-right mx-2"></i>{{ course.ten_khoa_hoc }}
        </nav>
      </div>
    </div>
  </div>

  <!-- Course display -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        {% include "courses/course_detail_enroll/course_progress.html" %}
        {% include 'courses/course_detail/main-content.html' %}
      </div>
      <div class="col-lg-4 col-md-12">
        {% include "courses/course_detail/stats-course-list.html" %}
        {% include "courses/course_detail/stats-course-categories.html" %}
      </div>
    </div>
  </div>
  <!-- footer -->
  {% include "partial/footer.html" %}

</body>
</html>