  <!-- <div class="search-text">
     <div class="container">
       <div class="row justify-content-center">
         <div class="form text-center" style="width: 70%">
             <h4>ĐĂNG KÝ NHẬN CÁC KHÓA HỌC MỚI</h4>
              <form id="search-form" class="form-search form-horizontal">
                  <input type="text" class="input-search" placeholder="Địa chỉ email">
                  <button type="submit" class="btn-search">Đăng Ký</button>
              </form>
          </div>
        </div>
     </div>
</div> -->

<footer>
 <div class="container">
   <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <span class="logo">UCOURSES</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                     <span>Menu</span>
                     <li><a href="#">Trang chủ</a></li>

                      <li><a href="#">Danh sách khóa học</a></li>

                      <li><a href="#">Tags</a></li>
                 </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="address">
                    <span>Liên hệ</span>
                    <li>
                       <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<a href="#">Điện thoại</a>
                    </li>
                    <li>
                       <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<a href="#">Địa chỉ</a>
                    </li>
                    <li>
                       <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<a href="#">Email</a>
                    </li>
               </ul>
           </div>
       </div>
    </div>
</footer>
