  <div class="search-text">
     <div class="container">
       <div class="row justify-content-center">
         <div class="form text-center" style="width: 70%">
             <h4>SIGN UP TO OUR NEWSLETTER</h4>
              <form id="search-form" class="form-search form-horizontal">
                  <input type="text" class="input-search" placeholder="Email Address">
                  <button type="submit" class="btn-search">SUBMIT</button>
              </form>
          </div>
        </div>
     </div>
</div>

<footer>
 <div class="container">
   <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <span class="logo">LOGO</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                     <span>Menu</span>
                     <li><a href="#">Home</a></li>

                      <li><a href="#">About</a></li>

                      <li><a href="#">Blog</a></li>

                      <li><a href="#">Gallery</a></li>
                 </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="address">
                    <span>Contact</span>
                    <li>
                       <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
                    </li>
                    <li>
                       <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
                    </li>
                    <li>
                       <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
                    </li>
               </ul>
           </div>
       </div>
    </div>
</footer>
