<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px 50px">
  <a class="navbar-brand" href="/">UCourses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-inbox"></i> Danh mục khóa học
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Khóa học lập trình</a>
          <a class="dropdown-item" href="#">Học Tiếng Anh</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Học thiết kế</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <form class="form-inline">
        <div class="form-group mx-sm-3" style="width:50vh">
          <input style="width: 100%" type="text" class="form-control" id="inputPassword2" placeholder="Tìm kiếm khóa học">
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
      </form>
    </form>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        {% if user.teacher %}
          <li class="nav-item">
            <a class="nav-link sign-up" href="#">Đăng khóa học</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link sign-up" href="/teaching/">Trở thành Giảng Viên</a>
          </li>
        {% endif %}
        <li class="nav-item">
        <a class="nav-link" href="/settings">Xin chào {{ user.username }}!</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>

      {% else %}
        
      
        <li class="nav-item">
          <a class="nav-link" href="/login">Đăng nhập</a>
        </li>
        <li><a class="nav-link sign-up" href="/signup">Đăng ký</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
